ul,li {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
.friends-thumbnail {
	border: solid 2px gray;
	border-radius: 20px;
}
.freind-name {
	font-size: 20px;
	color: #000;
}
.friends-intro {
	font-size: 15px;
	color: #c8c8c8;
}
/*Custome*/
.friends-lists>.friends-list>a>.friends-info>.friends-name {
	font-size: 25px;
	color: blue;
}
