/*기본메뉴실습*/
/*.media-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 700px;
    background-color: black;
}

.media-menu>a {
    color: black;
    text-decoration: none;
}

.media-menu>li {
    width: 150px;
    background-color: yellow;
    border: 5px solid red;
    padding: 5px 15px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
	.media-menu {
		flex-direction: column;
		width: 190px;
		align-items: flex-start;
	}
	.media-menu>li {
		margin-bottom: 10px;
	}
	.media-menu li:last-child {
		margin-bottom: 0;
	}
}*/

/*HELBAK레이아웃실습*/
html,
body,
h1 {
    margin: 0;
    padding: 0;
}
/*
.intro {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.intro>h1 {
    width: 50%;
    height: 80px;
    background-color: #000;
}

.intro>nav {
    width: 50%;
    height: 80px;
    background-color: yellow;
}

.intro>nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.intro>nav>ul>li {
    width: 33.3333%;
    height: 80px;
}

.intro>nav>ul>li:nth-child(1) {
    background-color: blue;
}

.intro>nav>ul>li:nth-child(2) {
    background-color: gray;
}

.intro>nav>ul>li:nth-child(3) {
    background-color: green;
}

main {
    width: 100%;
    height: 2000px;
    background-color: gold;
    /*레이어 겹침 방지*/
    /*padding-top: 80px;*/
}

/*@media (min-width: 320px) and (max-width: 767px) {
    .intro {
        position: static;
        flex-direction: column;
        height: 160px;
    }

    .intro h1 {
        width: 100%;
    }

    .intro nav {
        width: 100%;
    }

    main {
        padding-top: 0;
    }
}*/

/*bootstrap agency*/
.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    background-color: pink;
}

.column {
    width: 350px;
    background-color: #fff;
    border: 2px solid red;
    margin-bottom: 10px;
}

.column:nth-child(4),
.column:nth-child(5),
.column:nth-child(6) {
    margin-bottom: 0;
}

.column img {
    /*column안에서 꽉채우게*/
    width: 100%;
    /*공백 없애기*/
    vertical-align: middle;
}

.image-info {
    padding: 20px 0;
    text-align: center;
}

.image-info h2 {
    margin: 0;
}

@media (min-width: 540px) and (max-width: 720px) {
    .container {
        width: 720px;
    }
}