.z-one {
    /*position: absolute;*/
    width: 200px;
    height: 200px;
    background-color: yellow;
    /*z-index: 10;*/
}

.z-two {

    position: absolute;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.left-1 {
    float: left;
    width: 100px;
    height: 150px;
    background-color: blue;
}

.right-1 {
    float: right;
    width: 100px;
    height: 150px;
    background-color: green;
}

header {
    width: 100%;
    height: 100px;
    background-color: yellow;
}

.left {
    float: left;
    width: 300px;
    height: 200px;
    background-color: pink;
}

.center {
    float: left;
    width: 500px;
    height: 200px;
    background-color: blue;
}

.right {
    position: static;
    float: right;
    width: 500px;
    height: 200px;
    background-color: green;
}

footer {
    clear: both;
    width: 100%;
    height: 200px;
    background-color: black;
}

section {
    width: 800px;
    overflow: hidden;
    background-color: orange;
}

.left-2 {
    float: left;
    width: 100px;
    height: 150px;
    background-color: yellow;
}

.right-2 {
    float: right;
    width: 100px;
    height: 150px;
    background-color: blue;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
}

.clearfix {
    clear: both;
}

.over-box {
    width: 200px;
    height: 200px;
    background-color: yellow;
    overflow: hidden;
}

.container {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    height: 500px;
    border: solid 10px red;
}

.item {
    width: 200px;
}

.one {
    height: 100px;
    background-color: yellow;
}

.two {
    height: 200px;
    background-color: blue;
}

.three {
	/*width: 900px;*/
    height: 300px;
    background-color: orange;
}
.center-1 {
	width: 300px;
	height: 300px;
	background-color: yellow;
	margin: 0 auto;
}
.center-2 {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: blue; 
	left: 50%;
	margin-left: -150px;
}