/*Default CSS*/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

/*float과 함께 오는 css작업*/
.clearfix {
    clear: both;
}

/* Intro */
#intro {
	width: 100%;
	height: 1600px;
	/*../< 폴더 바깥으로 나온다는 뜻*/
	background-image: url(img/intro/intro_bg.png); 
}

#intro .introWrap {
	/*포지션을 어떤것을 써야하는 것에 대한 당위성 있어야함*/
	/*위치를 조정하는 3차원적인 특징을 써야하기 때문에 relative(2,3차원)*/
	/*부모-relative,자식-absolute를 사용했다면 자식의 위치기준은 부모가 된다*/
	position: relative;
	width: 760px;
	height: 516px; 
	left: 50%;
	margin-left: -380px;
	/*intro의 위치를 아래로 내려야할 때(후수정)*/
	/*1.margin-top은 마진병합현상이 일어남 (X)*/
	/*2.padding-top은 아래에 미리 만들어 놓은 레이아웃이 틀어질 수 있음
	  (의도하지않은 공백이 추가 됨)(X)*/
	top: 100px;
	/*relative이기때문에 자기 자신이 주체가 되어서 이동한다(top,left,right,bottom)*/
	/*아래에 어떠한 요소가 배치해 있더라도 영향주지않고 이동(겹치는 상태)*/
	/*레이아웃 틀어지지 않는다.*/
	/*둘다 3차원일 경우 나중에 작성된 z축이 더 높다*/
}

#intro .introWrap .logo {
	/*동물 이미지 > 레이어 필요함 > 3차원*/
	position: absolute;
	width: 760px;
	height: 516px;
	background-image: url(img/intro/logo.png);
	z-index: 100;
}

#intro .introWrap .lion {
	position: absolute;
	/*이미지의 공간자체를 백그라운드 이미지와 동일하게 크기 설정*/
	width: 161px;
	height: 161px;
	background-image: url(img/intro/lion.png);
	margin: 80px 0 0 30px;
	z-index: 0;
}

#intro .introWrap .rabbit {
	position: absolute;
	width: 105px;
	height: 129px;
	background-image: url(img/intro/rabbit.png);
	margin: 90px 0 0 580px; 
}

#intro .introWrap .bear {
	position: absolute;
	width: 112px;
	height: 105px;
	background-image: url(img/intro/bear.png);
	margin: 310px 0 0 560px; 
	z-index: 200;
}

#intro .introWrap .monkey {
	position: absolute;
	width: 85px;
	height: 93px;
	background-image: url(img/intro/monkey.png);
	margin: 310px 0 0 50px; 
	z-index: 200;
}

#intro .cloudWrap {
	position: relative;
	width: 100%;
	height: 1050px; 
}

#intro .cloudWrap .leftCloud {
	/*absolute를 사용한 이유 > float을 사용하면 좌우 배치는 가능하지만
	 이미지보다 레이아웃이 작아지면 이미지 배치가 틀어짐 > 3차원 배치로 해준다.*/
	position: absolute;
	/*이미지의 크기는 5로 떨어지거나 짝수인 사이즈가 레이아웃잡기에 좋다.*/
	width: 934px;
	height: 816px;
	background-image: url(img/intro/cloud1.png);
	left: 0;
	z-index: 2;
}

#intro .cloudWrap .rightCloud {
	position: absolute;
	width: 843px;
	height: 858px;
	background-image: url(img/intro/cloud2.png);
	right: 0;
}

#intro .cloudWrap .dragonfly {
	position: absolute;
	width: 366px;
	height: 228px;
	background-image: url(img/intro/dragonfly.png);
	/*.cloudWrap기준으로 800px 내림*/
	top: 800px;
}

/*농부*/ 
#farm1 {
	position: relative;
	width: 100%;
	height: 800px;
	background-image: url(img/farm/farm1/farm1_bg.png);
} 

#farm1 .leftRice1 {
	position: absolute;
	width: 390px;
	height: 670px;
	background-image: url(img/farm/farm1/leftrice.png);
	left: 0;
}
 
#farm1 .rightRice1 {
	position: absolute;
	width: 335px;
	height: 570px;
	background-image: url(img/farm/farm1/rightrice.png);
	right: 0;
	top: 100px;
}

#farm1 .farmer {
	position: absolute;
	width: 747px;
	height: 1078px;
	background-image: url(img/farm/farm1/farmer.png);
	left: 50%;
	margin-left: -310px;
}

#farm1 .farmSpeechWrap {
	/*제일 마지막에 작성된 2/3차원 속성인 relative이기때문에 레이어 제일 위에 위치한다.*/
	position: relative;
	top: 250px;
	left: 150px;
}

/*기계*/
#farm2 {
	position: relative;
	width: 100%;
	height: 850px;
	background-image: url(img/farm/farm2/farm2_bg.png);
}

#farm2 .leftRice2 {
	float: left;
	width: 250px;
	height: 850px;
	background-image: url(img/farm/farm2/leftrice2.png);
}

#farm2 .rightRice2 {
	float: right;
	width: 236px;
	height: 850px;
	background-image: url(img/farm/farm2/rightrice2.png);
}

#farm2 .scarecrow {
	position: absolute;
	width: 103px;
	height: 206px;
	background-image: url(img/farm/farm2/scarecrow.png);
	margin: 200px 0 0 300px;
}

#farm2 {
	position: relative;
	width: 100%;
	height: 850px;
	background-image: url(img/farm/farm2/farm2_bg.png);
}

#farm2 .leftRice2 {
	float: left;
	width: 250px;
	height: 850px;
	background-image: url(img/farm/farm2/leftrice2.png);
}

#farm2 .rightRice2 {
	float: right;
	width: 236px;
	height: 850px;
	background-image: url(img/farm/farm2/rightrice2.png);
}

#farm2 .scarecrow {
	position: absolute;
	width: 103px;
	height: 206px;
	background-image: url(img/farm/farm2/scarecrow.png);
	margin: 200px 0 0 300px;
}

/*기계*/
#farm3 {
	position: relative; 
	width: 100%;
	height: 850px;
	background-image: url(img/farm/farm3/farm3_bg.png);
}

#farm3 .farm3Window{
	position: absolute; 
	width: 247px;
	height: 169px;
	background-image: url(img/farm/farm3/window.png); 
	margin: 100px 0 0 100px;
}

#farm3 .machineWrap {
	position: relative; 
	width: 600px;
	height: 455px; 
	left: 50%;
	margin-left: -285px;
	top: 150px;
}

#farm3 .machineWrap .machine1 {
	position: absolute;
	width: 586px;
	height: 455px;
	background-image: url(img/farm/farm3/machine1.png); 
	z-index: 900;
}

#farm3 .machineWrap .sawShadow {
	position: absolute; 
	width: 95px;
	height: 95px;
	background-image: url(img/farm/farm3/sawshadow.png); 
	margin: 145px 0 0 145px;
}

#farm3 .machineWrap .saw1,
#farm3 .machineWrap .saw2 {
	position: absolute;
	width: 95px;
	height: 95px;
	background-image: url(img/farm/farm3/saw.png);
}

#farm3 .machineWrap .saw1 {
	margin: 140px 0 0 140px;
}

#farm3 .machineWrap .saw2 {
	margin: 140px 0 0 350px;
}

#farm3 .machineWrap .timer {
	position: absolute; 
	width: 103px;
	height: 104px;
	background-image: url(img/farm/farm3/second.png); 
	margin: 125px 0 0 45px; 
	z-index: 999;
}

#farm3 .machineWrap .machineBird {
	position: absolute; 
	width: 44px;
	height: 49px;
	background-image: url(img/farm/farm3/machinebird.png); 
	margin: 220px 0 0 20px; 
	z-index: 999;
}

#farm3 .farm3Bubble {
	position: absolute; 
	top: 350px;
	right: 80px;
}

/*Forest*/
#forest1 {
    width: 100%;
    height: 1050px;
    background-image: url(img/forest/forest1/forest1_bg.png);
}

/*absolute와 float 정리*/
.leftTree {
    position: absolute;
    width: 445px;
    height: 1200px;
    background-image: url(img/forest/forest1/lefttree.png);
    left: 0;
}

.treeWrap {
    float: right;
    position: relative;
    width: 304px;
    height: 572px;
    top: 100px;
}

.rightTree {
    position: absolute;
    width: 304px;
    height: 572px;
    background-image: url(img/forest/forest1/righttree.png);
    z-index: 10;
}

.rabbit1 {
    position: absolute;
    width: 82px;
    height: 103px;
    background-image: url(img/forest/forest1/rabbit1.png);
    margin: 435px 0 0 107px;
}

.rabbit2 {
    position: absolute;
    width: 56px;
    height: 75px;
    background-image: url(img/forest/forest1/rabbit2.png);
    margin: 435px 0 0 200px;
}

/*Forest2*/
#forest2 {
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url(img/forest/forest2/forest2_bg.png);
}

.frog {
    position: absolute;
    width: 153px;
    height: 257px;
    background-image: url(img/forest/forest2/frog.png);
    margin: 50px 0 0 100px;
}

.machineWrap2 {
    position: relative;
    width: 400px;
    height: 400px;
    left: 50%;
    margin-left: -200px;
    top: 180px;
}

.machineBottom {
    position: absolute;
    width: 374px;
    height: 162px;
    background-image: url(img/forest/forest2/machinebottom.png);
    margin-top: 220px;
    z-index: 200;
}

.machineLeft {
    position: absolute;
    width: 123px;
    height: 228px;
    background-image: url(img/forest/forest2/machineleft.png);
    margin-top: 30px;
    z-index: 200;
}

.machineRight {
    position: absolute;
    width: 123px;
    height: 248px;
    background-image: url(img/forest/forest2/machineright.png);
    margin: 10px 0 0 260px;
    z-index: 200;
}

.forestBubble {
    position: relative;
    float: right;
    top: 100px;
    margin-left: 100px;
}

.forest2Tree {
    float: left;
    position: relative;
    width: 304px;
    height: 282px;
    background-image: url(img/forest/forest2/forest2tree.png);
    top: 50px;
}

/*Forest3*/
#forest3 {
    width: 100%;
    height: 600px;
    background-image: url(img/forest/forest3/forest3_bg.png);
}

.forest3Wrap {
    float: right;
    position: relative;
    width: 354px;
    height: 440px;
    top: 100px;
}

.forest3Tree {
    position: absolute;
    width: 354px;
    height: 440px;
    background-image: url(img/forest/forest3/forest3tree.png);
}

.smallBird {
    position: absolute;
    width: 40px;
    height: 35px;
    background-image: url(img/forest/forest3/bird_sm.png);
    top: 120px;
    left: 125px;
    /*부모영역인 forest3Wrap가 relative가 아니라면 브라우저 기준으로 위치를잡게된다.
	  3차원 성격인 relative이므로 부모를 기준으로 위치를 잡게된다.*/
}

.bigBird {
    position: absolute;
    width: 83px;
    height: 80px;
    background-image: url(img/forest/forest3/bird_big.png);
    /*margin 값은 부모의 속성 영향받지 않고 배치할 수 있다.*/
    margin: 280px 0 0 94px;
}

/*Sience*/

#science {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/science/science_bg.png);
}

.scienceWrap {
    position: relative;
    width: 1068px;
    height: 655px;
    margin: 0 auto;
}

.scienceLeftWrap {
    float: left;
    width: 288px;
    height: 100%;
}

.gly {
    width: 230px;
    height: 192px;
    background-image: url(img/science/gly.png);
    margin: 0 0 130px 55px;
}

.scienceLeftWrap p,
.scienceRightWrap p {
    color: #8e7577;
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px;
}

.scienceCenterWrap {
    position: relative;
    float: left;
    width: 488px;
    height: 100%;
}

.purpleSteam {
    position: relative;
    width: 241px;
    height: 216px;
    background-image: url(img/science/grape.png);
    left: 50%;
    margin-left: -120px;
}

.funnelBack {
    position: absolute;
    width: 488px;
    height: 438px;
    background-image: url(img/science/funnelback.png);
}

.funnelFront {
    position: absolute;
    width: 485px;
    height: 390px;
    background-image: url(img/science/funnelfront.png);
    margin-top: 48px;
}

/*funnelBack & Front는 3차원 속성이기 때문에 나중에 나오는 요소의 z-index값이 더 높다.*/
.scienceRightWrap {
    float: left;
    width: 292px;
    height: 100%;
}

.water {
    width: 204px;
    height: 191px;
    background-image: url(img/science/water.png);
    margin-bottom: 130px;
}

/*Night*/
#night1 {
	width: 100%;
	height: 700px;
	background-image: url(img/oneday/night1/night1_bg.png);
}

.owl {
	position: absolute;
	width: 334px;
	height: 571px;
	background-image: url(img/oneday/night1/owl.png);
	margin-top: 50px;
}

.starWrap {
	position: relative;
	width: 750px;
	height: 400px; 
	top: 150px;
	margin-left: 600px;
}

.star1,
.star2,
.star3 {
	position: absolute;
	width: 53px;
	height: 50px;
	background-image: url(img/oneday/night1/star1.png);
}

.star1 {
	margin-top: 350px;
}

.star2 {
	margin-left: 650px;
}

.star3 {
	margin: 250px 0 0 500px;
}


/*Night2*/
#night2 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/oneday/night2/night2_bg.png);
}

.moon {
    width: 135px;
    height: 135px;
    background-image: url(img/oneday/night2/moon.png);
}

.night2Bubble {
    position: absolute;
    margin: 300px 0 0 80px;
}

.rightMoonTree {
    position: absolute;
    width: 243px;
    height: 588px;
    background-image: url(img/oneday/night2/moontree.png);
    right: 0;
    bottom: 0;
}

/*Morning*/
#morning {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/oneday/morning/morning_bg.png);
}

.sun {
    width: 131px;
    height: 131px;
    background-image: url(img/oneday/morning/sun.png);
}

.leftPine {
    position: absolute;
    width: 231px;
    height: 329px;
    background-image: url(img/oneday/morning/leftpine.png);
}

.rightPine {
    position: absolute;
    width: 294px;
    height: 609px;
    background-image: url(img/oneday/morning/rightpine.png);
    right: 0;
    bottom: 0;
}

/*kitchen*/
#kitchen {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/kitchen/kitchen_bg.png);
}

.leftPan {
    float: left;
    width: 253px;
    height: 384px;
    background-image: url(img/kitchen/pan.png);
}

.rightPan {
    float: right;
    width: 243px;
    height: 132px;
    background-image: url(img/kitchen/pot.png);
}

.steamWrap {
    position: relative;
    width: 483px;
    height: 457px;
    left: 50%;
    margin-left: -275px;
    top: -100px;
    clear: both;
}

.steam {
    position: absolute;
    width: 479px;
    height: 457px;
    background-image: url(img/kitchen/steam.png);
}

.bubble1 {
    position: absolute;
    width: 55px;
    height: 56px;
    background-image: url(img/kitchen/bubble.png);
    margin-top: 230px;
}

.kitchenBubble {
    position: absolute;
    top: 400px;
    right: 0;
}

/*color1*/
#color1 {
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url(img/color/color1/color1_bg.png);
}

.penguin {
    position: relative;
    width: 356px;
    height: 244px;
    background-image: url(img/color/color1/penguin.png);
    top: 100px;
    left: 100px;
}

.color1Bubble {
    float: right;
    margin: 100px 200px 0 0;
}

/*color2*/
#color2 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/color/color2/color2_bg.png);
}

.horse {
    float: right;
    width: 188px;
    height: 241px;
    background-image: url(img/color/color2/horse.png);
    margin: 100px 100px 0 0;
}

.color2wrap {
    clear: both;
    position: relative;
    width: 500px;
    top: 100px;
    margin-left: 50px;
}

.color2Bubble {
    margin-bottom: 30px;
}

.wrap {
    margin-bottom: 20px;
}

.red,
.yellow,
.blue {
    width: 59px;
    height: 82px;
}

.red {
    background-image: url(img/color/color2/btn/btn_red.png);
}

.yellow {
    background-image: url(img/color/color2/btn/btn_yellow.png);
}

.blue {
    background-image: url(img/color/color2/btn/btn_blue.png);
}

.color2Comment {
    color: #8e7577;
}

/*color3*/
#color3 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/color/color3/color3_bg.png);
}

.flag {
    position: relative;
    width: 1774px;
    height: 178px;
    background-image: url(img/color/color3/flag.png);
    left: 50%;
    margin-left: -887px;
}

.book {
    float: right;
    width: 417px;
    height: 178px;
    background-image: url(img/color/color3/book.png);
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -378.5px;
}

.dice {
    position: absolute;
    width: 239px;
    height: 200px;
    background-image: url(img/color/color3/dice.png);
    left: 0;
    bottom: 0;
}
