html, body { 
 	margin: 0;
 	padding: 0;
}
/*.box-model {
	box-sizing: border-box;
 	width: 200px;
 	height: 200px;
 	background-color: yellow;
 	border: solid 10px red; 
 	padding: 100px 0 0 100px; 
    margin-left: 100px;
 	margin-top: 100px;
 	padding-left: 100px;
 	padding-top: 100px;
    margin: 100px 0 0 100px;
 }*/
 .margin-one {
 	width: 100%;
 	height: 100px;
 	background-color: yellow;
 	margin-bottom: 100px;
 }
.margin-two {
	width: 100%;
	height: 100px;
	background-color: blue;
	margin-top: 50px;
}
.margin-parent {
	width: 300px;
	height: 300px;
	background-color: yellow;
}
.margin-child {
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: blue;
	margin-top: 100px;
}
/*h1 {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin-top: 100px;
}
span {
	display: block;
	width: 100px;
	height: 100px;
	background-color: pink;
	margin-top: 100px;
}*/
.inline-block {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: yellow;
}
.inline, .inline-block {
	vertical-align: top;
}
.static-parent {
	width: 300px;
	height: 300px;
	background-color: yellow;
}
.static-child {
	position: static;
	width: 150px;
	height: 150px;
	background-color: blue;
	margin-top: 100px;
	top: 100px;
}
.box1 {
	width: 300px;
	height: 200px;
	background-color: gray;
}
.fixed-parent {
	width: 300px;
	height: 300px;
	background-color: yellow;
}
.fixed-child {
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: blue; 
	margin-top: 100px;
	top: 100px;
	left: 100px;
}
.box2 {
	width: 300px;
	height: 2000px;
	background-color: green;
}
.box1 {
	width: 300px;
	height: 200px;
	background-color: gray;
}
.relative-parent {
	width: 300px;
	height: 300px;
	background-color: yellow;
}
.relative-child { 
	position: relative;
	width: 100px;
	height: 100px;
	background-color: blue;  
	/*margin-top: 100px;*/
	top: 100px;
}
.box1 {
	width: 300px;
	height: 200px;
	background-color: gray;
}
.absolute-parent {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: yellow;
}
.absolute-child {  
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: blue;   
	/*margin-top: 100px;*/
	top: 100px;
}
