* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul,
li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

input,
textarea {
    outline: none;
}

.clearfix {
    clear: both;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

button {
    border: none;
}

/*body*/
/*header*/
#main_header {
    position: relative;
    background: #fff;
}

/*search bar*/
.search_area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 160px;
    background: #fff;
    border-bottom: 1px solid #e4e8eb;
}

.search_wrap {
    position: relative;
    /*inline요소로 인하여 생긴 공백 - flex로 처리*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
}

.search_wrap input {
    /*전체 크기 안에서 52px을 뺀 크기*/
    width: calc(100% - 52px);
    height: 100%;
    padding: 13px 15px;
    font-size: 22px;
    border: none;
}

.search_wrap button {
    width: 52px;
    height: 100%;
    background-color: #19ce60;
}

/*navigation*/
#navbar {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}

#navbar ul {
    padding: 11px 0;
}

#navbar ul li {
    /*inline-block의 공백이 신경쓰일 경우 flex를 사용하여도 좋다*/
    display: inline-block;
    margin-right: 5px;
}

#navbar ul li a {
    font-size: 15px;
    font-weight: 700;
    color: #03c75a;
}

/*main*/

main {
    overflow: hidden;
    padding-top: 20px;
}

/*main_left*/
#main_left {
    float: left;
    width: 750px;  
}

/*main_news*/
#banner_wrap {
    width: 750px;
    height: 135px;
    background-color: #000;
    margin-bottom: 12px;
}

.news_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 16px 0;
}

.news_header h2 {
    font-size: 14px;
    font-weight: 700;
}

.news_header .news_btn_wrap {
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.news_header .news_btn_wrap button {
    width: 15px;
    height: 15px;
    background-color: blueviolet;
}

.news_lists {
    overflow: hidden;
    border: 1px solid #dae1e6;
}

.news_list {
    position: relative;
    text-align: center;
    width: 16.66%;
    height: 65px;
    background-color: #fff;
    float: left;
    border-bottom: 1px solid #e4e8eb;
    border-right: 1px solid #e4e8eb;
}

.news_list:nth-child(6n) {
    border-right: none;
}

.news_list:nth-child(19),
.news_list:nth-child(20),
.news_list:nth-child(21),
.news_list:nth-child(22),
.news_list:nth-child(23),
.news_list:nth-child(24) {
    border-bottom: none;
}

.news_list img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*main_blog*/
#blog_wrap {
    padding-top: 35px;
}

.blog_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
}

.left_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left_header h3 {
    font-size: 14px;
    margin-right: 8px;
}

.left_header span {
    font-size: 12px;
    color: gray;
}

.right_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.right_header span {
    font-size: 12px;
    color: gray;
}

.right_header span strong {
    color: #000;
}

/*main_blog_nav*/
.blog_nav ul {
    overflow: hidden;
    border: solid 1px #eae1e6;
}

.blog_nav ul li {
    float: left;
    width: 12.5%;
    height: 49px;
    border-right: solid 1px #eae1e6;
}

.blog_nav ul li:last-child {
    border-right: none;
}

.blog_nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 49px;
    text-align: center;
}

/*main_blog_list*/
.blog_list_wrap {
    padding-top: 18px;
    border-bottom: solid 1px #dae1e6;
}

.blog_list_wrap li {
    margin-bottom: 18px;
}

.blog_list_wrap li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.blog_list_wrap li a img {
    width: 170px;
    height: 114px;
    margin-right: 21px;
}

.blog_list_info {
    width: 559px;
    padding-right: 47px;
}

.blog_list_info span {
    font-size: 12px;
    color: #35ae5e;
}

.blog_list_info h4 {
    font-size: 13px;
}

.blog_list_info p {
    font-size: 13px;
}

.date_wrap span {
    color: #505050;
}

/*blog_media*/ 
.blog_media_wrap ul {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; 
	padding: 18px 0;
	border-bottom: solid 1px #dae1e6;
}
 
.blog_media_info {
	padding-top: 12px;
}

.blog_media_info h4 {
	font-size: 13px;
}

.blog_media_info span {
	font-size: 12px;
}
  
/*main_right*/
#main_right {
    float: right;
    width: 350px;
}

/*account*/
#account {
    width: 100%;
    border: solid 1px #dae1e6;
    padding: 16px 16px 12px 16px;
    margin-bottom: 12px;
}

#account p {
    font-size: 12px;
    padding-left: 3px;
    margin-bottom: 11px;
}

#account a {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 14px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    background-color: #19ce60;
    border-radius: 2px;
    color: #fff;
}

.account_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.account_sub span {
    font-size: 12px;
}

#main_right_banner {
    width: 348px;
    height: 198px;
    background-color: #000;
    margin-bottom: 20px;
}

/*main_right_shop*/
#shop_wrap {}

.shop_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.shop_title h3,
.shop_title h4 {
    font-size: 13px;
}

.shop_title_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.shop_title_right h4 {
    margin-left: 15px;
}
 
.shop_content {
    border: solid 1px #e4e8eb;
    padding: 0 0 22px;
}

.shop_goods {
    padding: 55px 8px;
}

/*float: left & display : flex 상황에 따라서 다르게*/
.commerce_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 4px;
    background-color: #f7f9fa;
    border-bottom: solid 1px #dae1e6;
}

.commerce_list li {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.commerce_list li:nth-child(1),
.commerce_list li:nth-child(9) {
    margin-left: 0;
}
 
.product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

.product_list li {
    margin-bottom: 10px;
}
 
.product_info {
    text-align: center;
}

.product_info h3,
.product_info span {
    font-size: 12px;
}
 
/*footer*/
#main_footer {
    position: relative;
    display: block;
    padding-top: 30px;
    padding-bottom: 92px;
    background-color: #fafbfc;
    border-top: solid 1px #e4e8eb;
}

.footer_news_list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.footer_news_list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.footer_news_list li img {
    margin-right: 15px;
}

.footer_news_info {
    overflow: hidden;
    width: 172px;
    vertical-align: middle;
    padding-top: 5px;
}

.footer_news_info span,
.footer_news_info h3,
.footer_news_info p {
    font-size: 13px;
}

.footer_news_info span {
    color: #58c464;
}

#main_footer .corp_list {
    padding-top: 25px;
    border-top: solid 1px #e4e8eb;
}

#main_footer .corp_list li {
    display: inline-block;
    vertical-align: middle; 
}

#main_footer .corp_list li:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}

/*#main_footer .corp_list li:first-child:before {
    display: none;
}*/

#main_footer .corp_list li:first-child:before {
    content: initial;
}

#main_footer .corp_list li a { 
    font-size: 12px;
}


/*shop*/
#shop_body {
    background-color: #E9ECEF;
}

.shop_container {
    width: 1280px;
    margin: 0 auto;
}

/*shop_header*/
#shop_header_top {
    width: 100%;
    height: 36px;
    /*background-color: #03c75a;*/
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#shop_header_middle {
    width: 100%;
    height: 66px;
    /*background-color: #03c75a;*/
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.white_line {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.shop_header_bg {
    background: url(bg.jpg)no-repeat 100% 0;
}

#shop_header nav {
    width: 100%;
    border-top: solid 1px #e8e8e8;
    border-bottom: solid 1px rgba(0, 0, 0, 0.14);
    background-color: #fff;
}

#shop_header .shop_nav_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 8px;
}

#shop_header .shop_nav_left li {
    margin-right: 16px;
    font-size: 12px;
    line-height: 12px;
}

/*shop_main*/
#shop_main {}

#shop_main .list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#shop_main .list_item {
    width: 308px;
    height: 496px;
    background-color: rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

/*shop_list_item 1*/
.category_wrap {
    overflow: hidden;
}

.shop_border {
    border: solid 1px #ced2d7;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.category_left {
    position: relative;
    float: left;
    width: 124px;
    height: 100%;
    background-color: #333949;
}

.category_hamburger {
    position: absolute;
    left: 14px;
    top: 19px;
    width: 10px;
    height: 10px;
}

.h3_span {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.46);
}

.span1 {
    top: 0;
    left: 0;
}

.span2 {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.span3 {
    bottom: 0;
    left: 0;
}

.category_left h3 {
    margin-left: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.46);
    padding: 14px 0 14px 13px;
}

.category_left ul {
    margin: 3px 0;
}

.category_left li {
    width: 100%;
    height: 37px;
}

.category_left a {
    display: block;
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.46);
    padding: 7px 8px;
}

/*border값 뺀 나머지 너비 크기 지정*/
.category_wrap .category_right {
    float: right;
    width: 182px;
    height: 100%;
    background-color: #fff;
}

.category_right_top {
    width: 100%;
    height: 306px;
    border-bottom: #e7e7e7;
    text-align: center;
    border-bottom: solid 1px rgb(240, 240, 240);
}

.category_info {
    padding: 20px 0;
}

.headline {
    /*span은 inline요소 > margin값 X*/
    display: inline-block;
    font-size: 11px;
    border: solid 1px #00ab33;
    color: #00ab33;
    margin-bottom: 10px;
}

.category_info h3 {
    font-size: 18px;
}

.price {
    font-size: 15px;
    color: skyblue;
    font-weight: bold;
}

.category_info img {
    margin: 8px 0;

}

.category_right_bottom {
    margin-top: 15px;
    text-align: center;
}

.category_right_bottom .headline {
    margin-top: 6px;
}

.tag {
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 12px;
    font-size: 12px;
    vertical-align: top;
    background-color: #e8eef4;
    margin: 6px 1px 0 1px;
    padding: 5px;
}

.tag a {
    color: #666;
}

/*shop_list_item 2*/   
.list_wrap .list_item.banner img {
    width: 100%;
    height: 100%; 
}


/*shop_list_item 3*/
#shop_main .list_item {
    position: relative;
}

#shop_main .list_item .list_half {
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #fff;
}

#shop_main .list_item .list_half.list_half_top {
    position: absolute;
    left: 0;
    top: 0;
}

#shop_main .list_item .list_half.list_half_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.list_half_header {
    position: relative;
    display: block;
    width: 100%;
    height: 62px;
    background-color: #fff;
    text-align: center;
    padding-top: 9px;
    border-bottom: solid 1px #e7e7e7;
}

.list_half_header .headline {
    display: inline-block;
    border: solid 1px #000;
    padding: 2px 4px;
    margin-bottom: 5px;
}

.list_half_header h3 {
    position: relative;
    font-size: 14px;
}

.list_half_bg {
    background-color: gray;
    padding-top: 0px;
    border-bottom: solid 1px #fff;
}

.half_overlay {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.shop_title_border {
    display: inline-block;
    border: solid 1px #fff;
    color: #fff;
    font-size: 14px;
    padding: 2px 4px;
}

.content_list {
    position: relative;
    display: block;
    width: 100%;
    height: 177px;
}

.content_list_3 {
    overflow: hidden;
}

.content_list_3 li {
    float: left;
    width: 33.33%;
    height: 177px;
    border-right: solid 1px #f0f0f0;
    text-align: center;
}

.content_list_3 li:last-child {
    border-right: none;
}

.content_list_3 li img {
    width: 100%;
    height: 100px;
    margin-bottom: 2px;
}

.content_list_3 li h3 {
    font-size: 13px;
    margin-bottom: 2px;
}

.content_list_3 li span {
    font-size: 12px;
}

.content_list_2 {
    margin: 0 auto;
    width: 268px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.content_list_2 li {
    overflow: hidden;
    width: 130px;
    float: left;
}

.content_image_wrap {
    position: relative;
}

.content_image_wrap h3 {
    font-size: 13px;
}

.content_image_wrap img {
    border: solid 1px #e7e7e7;
    ;
}

.content_image_wrap .discount {
    position: absolute;
    display: block;
    width: 42px;
    height: 42px;
    background-color: orange;
    font-size: 14;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    top: 6px;
    right: 5px;
    line-height: 42px;
}

.content_image_wrap .price {
    font-size: 12px;
}

.price em {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/*shop_list_item 4*/
.list_row_3 {
    position: relative;
    display: block;
    height: 256px;
    background-color: #fff;
}

.list_row_3 li {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #f0f0f0;
    padding: 11px 19px 11px 19px;
}

.list_row_3 li:last-child {
    border-bottom: none;
}

.list_image_wrap {
    width: 90px;
    height: 60px;
}

.list_row_info {
    margin-left: 15px;
}

.list_row_info span {
    font-size: 12px;
}

.list_row_info h3 {
    font-size: 13px;
}

.list_half {
    position: relative;
    display: block;
}

#shop_main .list_item:nth-child(4) .list_half.list_half_top.shop_border {
    position: relative;
}

/*brand_wrap*/
.brand_wrap {}

.brand_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 18px 18px;
    background-color: #fff;
}

.brand_list li {
    width: 64px;
    height: 64px;
}

/*shop_footer*/
#shop_footer {
    padding-bottom: 180px;
    text-align: center;
}

.policy_wrap {
    border-top: solid 2px #5d5d5d; 
    padding-top: 27px;
    padding-bottom: 13px;
}

.policy_wrap  span {
    font-size: 12px;
    color: #333; 
}

.policy_wrap span:hover {
    text-decoration: underline;
    color: #00C73C;
    cursor: pointer;
}

.policy_wrap span:before {
    content: ''; 
    display: inline-block;
    width: 1px;
    height: 11px;
    margin:  0 8px;
    background-color: #b7b7b7;
    vertical-align: -1px;
}

.policy_wrap span:first-child:before {
    content: initial;
}

#shop_footer .shop_container p {
    font-size: 12px;
    color: #888;
    margin-bottom: 12px;
}
